<form #userForm="ngForm" (ngSubmit)="registerUser(userForm)" class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 justify-content-center text-center mt-2 mb-2">
            <h1>Please Fill the Form Details</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" name="fName" [(ngModel)]="firstName" required>
                <mat-error *ngIf="userForm.controls['fName']?.invalid && userForm.controls['fName']?.touched">
                    First Name is required.
                </mat-error>

            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput placeholder="Middle Name" name="mName" [(ngModel)]="middleName">

            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" name="lName" [(ngModel)]="lastName" required>
                <mat-error *ngIf="userForm.controls['lName']?.invalid && userForm.controls['lName']?.touched">
                    Last Name is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="please enter your email" name="mail" type="email" [(ngModel)]="email"
                    required>
                <mat-error *ngIf="userForm.controls['mail']?.invalid && userForm.controls['mail']?.touched">
                    Email is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Branch</mat-label>
                <mat-select name="userBranch" [(ngModel)]="branch" required>
                    <mat-option value="" disabled>Select Branch</mat-option>
                    <mat-option value="Mechanical">Mechanical</mat-option>
                    <mat-option value="Civil">Civil</mat-option>
                    <mat-option value="ECE">ECE</mat-option>
                    <mat-option value="CSE">CSE</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.controls['userBranch']?.invalid && userForm.controls['userBranch']?.touched">
                    Branch is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row justify-content-center text-center mt-2 mb-2">
            <div class="col-lg-6 col-sm-12">
                <button mat-raised-button class="w-100" type="submit" [disabled]="userForm.invalid">Register
                    User</button>
            </div>
            <div class="col-lg-6 col-sm-12">
                <button mat-raised-button class="w-100" type="reset" (click)="reset(userForm)">Reset</button>
            </div>

        </div>
    </div>
</form>
@if(data && data.length > 0) {
<div class="row justify-content-center text-center mt-2 mb-2">
    <div class="col-12">
        <h2>Enrolled Users List <span id="total-no-of-enrolled-users">{{data.length}}</span></h2>
        <!-- <app-enrolled-users-list [registerdUsers]="data"></app-enrolled-users-list> -->
         The Invoice Id is <span id="invoice-id">{{uniqueId}}</span>
    </div>
</div>
}